  <div class="center hero">
    <h1><%= @page.name %></h1>
    <%= link_to "Hire Me", contact_path, class: "btn btn-outline" %>

  </div>

  <div id="photos">
  <% @page.images.each do |h| %>
    <div class="box">  
    <%= image_tag h %>
    </div>
  <% end %>
  </div>