/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require font-awesome
 *= require_tree .
 *= require_self
 */





$black: #424242;
$ltBlack: #757575;
$grey: #bdbdbd;
$ltltGrey: #fafafa;

$navbar-height: 60px;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-margin-bottom: 0px;

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "font-awesome";
@import "bootstrap";


h1,h2,h3,h4,h5,h6,p,a{
  font-family: "Montserrat";
  font-weight: 400;
}

.center {
  text-align: center;
  margin: 0 auto;
}


.btn {
  border-radius: 0px;
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.2);
  }
}

.btn-outline{
  border: 1px solid $black;
  color: $black;
}

.marginTopXL{
  margin-top: 100px;
}
.marginTopXXL{
  margin-top: 150px;
}


.white{
  color: #fff;
  border-color: #fff;
  a:visted{
    color: #fff;
  }
  &:hover{
    transform: scale(1.2);
    color: #fff;
  }
}

.hero{
  height: 50vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.heroMarketing{
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: url(forest.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  &.down{
    align-items: flex-end;
    justify-content: center;
    color: #fff;
    cursor: pointer;
  } 
}


////////////////////////////////////////////////////// PHOTOS /////////////////////////////////////////////////////////////////////

#photos {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
  .box {
    flex: 1 1 33%;
    width: 33%;
    position: relative;
    &:hover{
      background-color: red;
      cursor: pointer;
}
  }


.box img {
  width: 100%;
  height: 100%;
}

//////////////////////////////////////////////////////// ANALYTICS /////////////////////////////////////////////////////////////////

.analytics{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  .numbers{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    flex: 1 0 31.5%;
    border: 1px solid $grey;
    border-radius: 3px;
    margin: 10px;
    padding: 25px;
    p{
      font-size: 1em;
    }
    .bigNum{
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 3em;
      margin-bottom: 5px;
    }
  }
  .demographic{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    flex: 1 1 48%;
    border: 1px solid $grey;
    border-radius: 3px;
    margin: 10px;
    padding: 25px;
    .bigNum{
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 3em;
      margin-bottom: 5px;
    }
  }
  .influencers{
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 100%;
    border: 1px solid $grey;
    border-radius: 3px;
    margin: 10px;
    padding: 25px;
    .bigNum{
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 3em;
      margin-bottom: 5px;
    }
  }
}




